<div class="appContainer">
  <mat-toolbar color="primary" style="align-content: center" class="background-effect wave-effect">
    <span  class="text-effect" data-heading="Your Text Here">我がHP</span>
  </mat-toolbar>

  <mat-nav-list class="horizontal-nav" @slideInOut>
    <a mat-list-item routerLink="/module1">Module 1</a>
    <a mat-list-item routerLink="/module2">Module 2</a>
    <a mat-list-item routerLink="/module3">Module 3</a>
  </mat-nav-list>

  <app-particle-container>
  </app-particle-container>
</div>




<!-- 确保路由出口在 ng-particles 元素之后 -->



